body {
  background-image: url("/images/newbc.jpg");
  background-size: no-repeat center center cover;
  background-color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
}

div {
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 578px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  object-position: 50% 68.24%;
  width: 426px;
  height: 453px;
  margin: 0 38px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 578px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 64px;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 241px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 241px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 477px;
  }

  .u-section-1 .u-image-1 {
    width: 410px;
    height: 436px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 141px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 319px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 61px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 70px auto 0 0;
}

.u-section-2 .u-list-1 {
  width: 1120px;
  margin: 70px auto 15px 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 295px;
  grid-auto-columns: calc(33.3333% - 103.333px);
  grid-template-columns: calc(33.3333% - 103.333px) calc(33.3333% - 103.333px) calc(33.3333% - 103.333px);
  grid-gap: 155px 155px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-4 {
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 248px;
    grid-auto-columns: calc(33.333333333333336% - 103.33300000000001px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 103.33300000000001px));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 570px;
    grid-auto-columns: calc(50% - 77.49975px);
    grid-template-columns: repeat(2, calc(50% - 77.49975px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 2396px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 60px;
  margin-top: 1px;
}

