body {
  background-image: url("/images/newbc.jpg");
  font-family: 'Poppins', sans-serif;
}

div {
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  height: 62px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-1 .u-form-1 {
  height: 403px;
  width: 570px;
  margin: 24px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 81px;
  min-height: 16px;
  width: 353px;
  min-width: 94px;
  margin: 56px auto 24px;
}

.u-section-1 .u-icon-1 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}