body {
  background-image: url("/images/newbc.jpg");
  font-family: 'Poppins', sans-serif;
}

div {
  color: white;
  font-family: 'Poppins', sans-serif;
}

nav {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  height: 62px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.u-section-1 .u-sheet-1 {
  min-height: 186px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 60px 63px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 60px auto 0 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-1 {
  text-align: left;
  margin: -287px 121px 0 716px;
}

.u-section-2 .u-text-2 {
  text-align: left;
  margin: 48px 53px 60px 663px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-2 .u-video-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -231px;
    margin-right: 21px;
    margin-left: 616px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 417px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 237px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -158px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 70px auto 0 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-text-1 {
  text-align: left;
  margin: -289px 84px 0 679px;
}

.u-section-3 .u-text-2 {
  text-align: left;
  margin: 47px 25px 60px 654px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-3 .u-video-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -233px;
    margin-right: 0;
    margin-left: 563px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 343px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 163px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-3 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -160px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 70px auto 0 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-text-1 {
  text-align: left;
  margin: -287px 109px 0 682px;
}

.u-section-4 .u-text-2 {
  text-align: left;
  margin: 40px 42px 60px 640px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-4 .u-video-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -231px;
    margin-right: 9px;
    margin-left: 582px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 482px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 371px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 191px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -158px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 70px auto 0 0;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
}

.u-section-5 .u-text-1 {
  text-align: left;
  margin: -275px 76px 0 679px;
}

.u-section-5 .u-text-2 {
  text-align: left;
  margin: 70px 33px 60px 646px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-5 .u-video-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -218px;
    margin-right: 0;
    margin-left: 555px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 335px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 155px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-5 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -145px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 70px auto 0 0;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-text-1 {
  text-align: left;
  margin: -291px 55px 0 640px;
}

.u-section-6 .u-text-2 {
  text-align: left;
  margin: 39px 15px 60px 625px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-6 .u-video-1 {
    width: 470px;
    height: 264px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -234px;
    margin-right: 0;
    margin-left: 495px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 275px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 95px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-6 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -161px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}