canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
html,
body {
  background-image: url("/images/bw.jpg");
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  top: 60px;
  bottom: auto;
}

.carousel-indicators {
  top: 60px;
  bottom: auto;
}

nav {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
